# LAB | Intro to Machine Learning

**Load the data**

In this challenge, we will be working with Spaceship Titanic data. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [3]:
spaceship.shape

(8693, 14)

**Check for data types**

In [6]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

## Removing all rows or all columns containing missing data.

In [13]:
print(spaceship.isna().sum())

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [14]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [15]:
missing_rows = spaceship[spaceship.isna().any(axis=1)]
print(missing_rows)

     PassengerId HomePlanet CryoSleep     Cabin  Destination   Age    VIP  \
7        0006_02      Earth      True     G/0/S  TRAPPIST-1e  28.0  False
10       0008_02     Europa      True     B/1/P  TRAPPIST-1e  34.0  False
15       0012_01      Earth     False       NaN  TRAPPIST-1e  31.0  False
16       0014_01       Mars     False     F/3/P  55 Cancri e  27.0  False
23       0020_03      Earth      True     E/0/S  55 Cancri e  29.0  False
...          ...        ...       ...       ...          ...   ...    ...
8667     9250_01     Europa     False   E/597/P  TRAPPIST-1e  29.0  False
8674     9257_01        NaN     False  F/1892/P  TRAPPIST-1e  13.0  False
8675     9259_01      Earth       NaN  F/1893/P  TRAPPIST-1e  44.0  False
8684     9274_01        NaN      True  G/1508/P  TRAPPIST-1e  23.0  False
8687     9275_03     Europa       NaN    A/97/P  TRAPPIST-1e  30.0  False

      RoomService  FoodCourt  ShoppingMall   Spa  VRDeck                Name  \
7             0.0        0.0           0.0   0.0     NaN  Candra Jacostaffey
10            0.0        0.0           NaN   0.0     0.0      Altardr Flatic
15           32.0        0.0         876.0   0.0     0.0       Justie Pooles
16         1286.0      122.0           NaN   0.0     0.0         Flats Eccle
23            0.0        0.0           NaN   0.0     0.0  Mollen Mcfaddennon
...           ...        ...           ...   ...     ...                 ...
8667          0.0     2972.0           NaN  28.0   188.0    Chain Reedectied
8674         39.0        0.0        1085.0  24.0     0.0          Ties Apple
8675       1030.0     1015.0           0.0  11.0     NaN     Annah Gilleyons
8684          0.0        0.0           0.0   0.0     0.0     Chelsa Bullisey
8687          0.0     3208.0           0.0   2.0   330.0     Atlasym Conable

      Transported
7            True
10           True
15          False
16          False
23          False
...           ...
8667         True
8674        False
8675         True
8684         True
8687         True

[2087 rows x 14 columns]

## Filling all missing values with a value (mean in continouos or mode in categorical for example).

In [16]:
def fill_missing_values(spaceship):
    for column in spaceship.columns:
        if spaceship[column].dtype in [np.float64, np.int64]:
            # Fill continuous columns with mean
            spaceship[column].fillna(spaceship[column].mean(), inplace=True)
        else:
            # Fill categorical columns with mode
            spaceship[column].fillna(spaceship[column].mode()[0], inplace=True)
    return spaceship

In [17]:
# Fill missing values in the DataFrame
spaceship_filled = fill_missing_values(spaceship)

print(spaceship_filled)

     PassengerId HomePlanet  CryoSleep     Cabin    Destination   Age    VIP  \
0        0001_01     Europa      False     B/0/P    TRAPPIST-1e  39.0  False
1        0002_01      Earth      False     F/0/S    TRAPPIST-1e  24.0  False
2        0003_01     Europa      False     A/0/S    TRAPPIST-1e  58.0   True
3        0003_02     Europa      False     A/0/S    TRAPPIST-1e  33.0  False
4        0004_01      Earth      False     F/1/S    TRAPPIST-1e  16.0  False
...          ...        ...        ...       ...            ...   ...    ...
8688     9276_01     Europa      False    A/98/P    55 Cancri e  41.0   True
8689     9278_01      Earth       True  G/1499/S  PSO J318.5-22  18.0  False
8690     9279_01      Earth      False  G/1500/S    TRAPPIST-1e  26.0  False
8691     9280_01     Europa      False   E/608/S    55 Cancri e  32.0  False
8692     9280_02     Europa      False   E/608/S    TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0             0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1           109.0        9.0          25.0   549.0    44.0       Juanna Vines
2            43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3             0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4           303.0       70.0         151.0   565.0     2.0  Willy Santantines
...           ...        ...           ...     ...     ...                ...
8688          0.0     6819.0           0.0  1643.0    74.0  Gravior Noxnuther
8689          0.0        0.0           0.0     0.0     0.0    Kurta Mondalley
8690          0.0        0.0        1872.0     1.0     0.0       Fayey Connon
8691          0.0     1049.0           0.0   353.0  3235.0   Celeon Hontichre
8692        126.0     4688.0           0.0     0.0    12.0   Propsh Hontichre

      Transported
0           False
1            True
2           False
3           False
4            True
...           ...
8688        False
8689        False
8690         True
8691        False
8692         True

[8693 rows x 14 columns]

In [18]:
print(spaceship_filled.isna().sum())

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

**KNN**

K Nearest Neighbors is a distance based algorithm, and requeries all **input data to be numerical.**

Let's only select numerical columns as our features.

In [38]:
numerical_columns = spaceship_filled.select_dtypes(include=['number']).columns

print("Numerical columns in the DataFrame:")
print(numerical_columns)

Numerical columns in the DataFrame:
Index(['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'], dtype='object')

In [49]:
# Identify non-numeric columns
non_numeric_columns = spaceship_filled.select_dtypes(include=['object']).columns
print(non_numeric_columns)

Index(['PassengerId', 'HomePlanet', 'Cabin', 'Destination', 'Name'], dtype='object')

And also lets define our target.

In [67]:
spaceship_numerical_df=spaceship_filled.drop(columns = ['PassengerId', 'HomePlanet', 'Cabin', 'Destination', 'Name'])

In [68]:
features = spaceship_numerical_df.drop(columns = ["Transported"])
target = spaceship_numerical_df["Transported"]

In [9]:
#your code here

**Train Test Split**

Now that we have split the data into **features** and **target** variables and imported the **train_test_split** function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set.

In [69]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [70]:
X_train.head()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
4278,False,54.0,False,0.0,559.0,0.0,15238.0,2799.0
5971,False,20.0,False,0.0,20.0,1.0,696.0,0.0
464,False,43.0,False,1821.0,0.0,47.0,29.0,0.0
4475,False,24.0,False,185.0,0.0,476.0,1810.0,53.0
8469,True,25.0,False,0.0,0.0,0.0,0.0,0.0

In [71]:
y_train.head()

4278    False
5971    False
464     False
4475    False
8469     True
Name: Transported, dtype: bool

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

You need to choose between **Classificator** or **Regressor**. Take into consideration target variable to decide.

Initialize a KNN instance without setting any hyperparameter.

In [72]:
from sklearn.neighbors import KNeighborsClassifier

In [73]:
knn = KNeighborsClassifier(n_neighbors=3)

Fit the model to your data.

In [74]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [75]:
X_test

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
3601,False,16.0,False,0.000000,0.0,623.0,40.0,209.0
6057,False,2.0,False,0.000000,0.0,0.0,0.0,0.0
2797,False,31.0,False,517.000000,1.0,301.0,60.0,4.0
7110,False,14.0,False,653.000000,0.0,4.0,0.0,0.0
8579,True,30.0,True,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
864,False,30.0,False,0.000000,760.0,234.0,2761.0,81.0
3780,False,22.0,False,7.000000,61.0,110.0,708.0,0.0
6046,True,23.0,False,0.000000,0.0,0.0,0.0,0.0
170,False,23.0,False,224.687617,0.0,8.0,1072.0,0.0
2519,False,58.0,False,1113.000000,1650.0,0.0,194.0,510.0

In [76]:
pred = knn.predict(X_test)
pred

array([False,  True, False, ..., False, False,  True])

In [77]:
y_test.values

array([ True,  True, False, ...,  True, False,  True])

Evaluate your model.

In [78]:
knn.score(X_test, y_test)

0.7280046003450259

In [13]:
#your code here

**Congratulations, you have just developed your first Machine Learning model!**